<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Codeosseum</title>

    <meta name="description" content="Codeosseum">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet"> 

    <link rel="stylesheet" th:href="@{/style/game/fault-seeding.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/codemirror.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/addon/scroll/simplescrollbars.min.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>

    <div class="overlay start-overlay">
        <div class="wrap">
            <div class="status-box">
                <div class="waiting-for-players-status">
                    <div class="status-icon-container fa-3x">
                        <i class="fas fa-circle-notch fa-spin"></i>
                    </div>
                    <div class="status-box-text">
                        Waiting for all players to join...
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header>
        <div class="branding">
            <div class="logo">
                <img th:src="@{/image/logo.png}">
            </div>
            <h1>Fault Seeding</h1>
        </div>
        <div class="info">
            <div class="points">
                0 pts
            </div>
            <div class="timer">
                00:00
            </div>
            <div class="place">
                1st
            </div>
        </div>
        <div class="menu">
            <a class="menu-item" href="/">
                <img th:src="@{/image/menu.svg}">
            </a>
        </div>
    </header>


    <main>
        <div class="editors">
            <div class="specification">
                <div class="editor-pane-title">
                    <h2>Specification</h2>
                </div>
                <div class="specification-content">
                    <div></div>
                </div>
            </div>
            <div class="under-test-code">
                <div class="editor-pane-title">
                    <div class="editor-pane-title-gutter"></div>
                    <h2>Solution Under Test</h2>
                </div>
            </div>
            <div class="test-code">
                <div class="editor-pane-title">
                    <div class="editor-pane-title-gutter"></div>
                    <h2>Test Code</h2>
                </div>
            </div>
        </div>
        <div class="output">
            <div class="output-pane-title">
                <h2>Output</h2>
            </div>
        </div>
    </main>


    <footer>
        <div class="leaderboard">
            <!--
            <div class="leaderboard-entry">
                <div>#1 BeardOfDoom (250)</div>
            </div>
            -->
        </div>
        <div class="submit-button">
            <div>
                Submit
            </div>
            <img th:src="@{/image/submit.svg}">
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.5.9/split.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/addon/scroll/simplescrollbars.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script th:src="@{/js/game/fault-seeding.js}"></script>
</body>

</html>
