* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
}

header {
    height: 80px;

    background: white;
    position: relative;
    
    box-shadow: 0px 4.5px 4.5px 1.5px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.333em;
    padding-right: 1.333em;
}

.menu {
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

.menu-item {
    display: block;
    height: 2em;
}

.menu-item > img {
    height: 100%;
    max-height: 100%;
    width: auto;
    display: block;
}

.branding {
    display: flex;
    align-items: center;
    width: 300px;
}

.branding > h1 {
    font-variant: small-caps;
    font-weight: lighter;
    font-size: 2rem;
    color: #702412;
    padding-left: 15px;
}

.info {
    display: flex;
    align-items: center;
    font-weight: lighter;
}

.info > .points, .info > .place {
    font-size: 1.76rem;
    color: #702412;
}

.info > .timer {
    font-size: 2.75rem;
    padding: 0 1em;
    color: #702412;
}

.logo {
    display: block;
    height: 2.5em;
}

.logo > img {
    height: 100%;
    max-height: 100%;
    width: auto;
    display: block;
}

.editors .CodeMirror {
    height: calc(100% - 40px);
    font-size: 20px;
}

.output .CodeMirror {
    height: calc(100% - 40px);
    font-size: 18px;
    background-color: #f7f7f7;
}

main {
    height: calc(100% - 80px - 80px);

    display: flex;
    flex-direction: column;
}

.editors {
    display: flex;
    flex-direction: row;
}

.editor-pane-title {
    background: white;
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #ddd;
}

.output-pane-title {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #ddd;
}

.output-pane-title > h2 {
    padding: 0;
    margin: 0;
    font-size: 1.444rem;
    font-weight: 400;
    font-variant: small-caps;
    padding-left: 5px;
}

.editor-pane-title > .editor-pane-title-gutter {
    height: 100%;
    width: 30px;
    background: #f7f7f7;
    border-right: 1px solid #ddd;
}

.editor-pane-title > h2 {
    padding: 0;
    margin: 0;
    font-size: 1.444rem;
    font-weight: 400;
    font-variant: small-caps;
    padding-left: 5px;
}

.gutter-horizontal {
    background: #ddd;
    cursor: col-resize;
    width: 2.5px;
}

.gutter-vertical {
    background: #ddd;
    cursor: row-resize;
}

.specification > .specification-content {
    padding: 5px;
    height: calc(100% - 40px);
    overflow-y: auto;
}

.specification > .specification-content > div > h1:first-child {
    margin-top:0;
}

.under-test-code {
    
}

.test-code {
    
}


.output {
    background: #f7f7f7;
}

footer {
    height: 80px;
    /*background: #702412;*/
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px -4.5px 4.5px 1.5px rgba(0, 0, 0, 0.2);

}

.submit-button {
    height: 100%;
    border: none;
    /*background: #cc972d;*/
    color: black;
    padding: 0 2.5em;
    font-size: 2.1rem;
    font-weight: lighter;
    display: flex;
    align-items: center;
    border-left: 2.5px solid #ddd;
}

.submit-button > img {
    display: block;
    height: 2.45rem;
    padding-left: 15px;
}

.submit-button:hover {
	cursor: pointer;
	background: #dae9d9;
}

.leaderboard {
    display: flex;
}

.leaderboard-entry {
    height: 100%;
    display: flex;
    padding: 0 1em;
    align-items: center;
    font-size: 1.44rem;
    font-weight: lighter;
    border-right: 2.5px solid #ddd;
}
