<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Codeosseum</title>

    <meta name="description" content="Codeosseum">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet"> 

    <link rel="stylesheet" href="/public/style/fault-seeding.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/codemirror.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/addon/scroll/simplescrollbars.min.css" />
</head>

<body>

    <header>
        <div class="branding">
            <div class="logo">
                <img src="/public/image/logo.png">
            </div>
            <h1>Fault Seeding</h1>
        </div>
        <div class="info">
            <div class="points">
                150 pts
            </div>
            <div class="timer">
                05:15
            </div>
            <div class="place">
                2nd
            </div>
        </div>
        <div class="menu">
            <a class="menu-item" href="/">
                <img src="/public/image/menu.svg">
            </a>
        </div>
    </header>


    <main>
        <div class="editors">
            <div class="specification">
                <div class="editor-pane-title">
                    <h2>Specification</h2>
                </div>
                <div class="specification-content">

                </div>
            </div>
            <div class="under-test-code">
                <div class="editor-pane-title">
                    <div class="editor-pane-title-gutter"></div>
                    <h2>Solution Under Test</h2>
                </div>
            </div>
            <div class="test-code">
                <div class="editor-pane-title">
                    <div class="editor-pane-title-gutter"></div>
                    <h2>Test Code</h2>
                </div>
            </div>
        </div>
        <div class="output">
            <div class="output-pane-title">
                <h2>Output</h2>
            </div>
        </div>
    </main>


    <footer>
        <div class="leaderboard">
            <div class="leaderboard-entry">
                <div>#1 BeardOfDoom (250)</div>
            </div>
            <div class="leaderboard-entry">
                <div>#2 battila7 (150)</div>
            </div>
            <div class="leaderboard-entry">
                <div>#3 veresdavid (0)</div>
            </div>
        </div>
        <div class="submit-button">
            <div>
                Submit
            </div>
            <img src="/public/image/submit.svg">
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.5.9/split.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/addon/scroll/simplescrollbars.min.js"></script>
    <script>
        Split(['.editors', '.output'], {
            sizes: [75, 25],
            minSize: 40,
            direction: 'vertical'
        })

        Split(['.specification', '.under-test-code', '.test-code'], {
            sizes: [34, 33, 33],
            minSize: 0,
            direction: 'horizontal'
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
      document.querySelector('.specification-content').innerHTML =
        marked('## Array Sum\n Sum the elements of the array.');
    </script>
    <script>
        var cm1 = CodeMirror(document.querySelector('.under-test-code'), {
            value: "function arraySum(array) {\n    return array.reduce((acc, curr) => acc + curr, 0);\n};\n\nmodule.exports = arraySum;\n",
            mode:  "javascript",
            lineNumbers: true,
            scrollbarStyle: 'simple',
            readOnly: true
        });

        var cm2 = CodeMirror(document.querySelector('.test-code'), {
            value: "module.exports = function test(solution) {\n    return solution([10, 90]);\n};\n",
            mode:  "javascript",
            lineNumbers: true,
            scrollbarStyle: 'simple'
        });

        var cm3 = CodeMirror(document.querySelector('.output'), {
            value: "TEST CASE FAILURE\n\nReason: Correct and SUT result are the same.\nResult: 100\n\nVerdict: Try again.\n----------------------------\n",
            scrollbarStyle: 'simple',
            mode: null,
            readOnly: true
        });
    </script>
</body>

</html>
