<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Codeosseum Login</title>

    <meta name="description" content="Codeosseum">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<h1>Codeosseum Login</h1>

<div>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <form th:action="@{/login}" method="post" id="login-form">
        <div>
            <label>Username: <input type="text" name="username"/></label>
        </div>
        <div>
            <label>Password: <input type="password" name="password"/></label>
        </div>
        <div>
            <input type="submit" value="Sign In"/>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>
</body>

</html>
